<header class="navbar navbar-default navbar-static-top" role="navigation">

</div>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" id="togglenavbar" data-toggle="collapse"data-target="#navbarEexample10">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to "sample app", '#', id: "logo", class: "navbar-brand"%>
    </div>
    <div class="navbar-collapse collapse"id="navbarEexample10">
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "Home", '#'%></li>
        <li><%=link_to "Help", '#'%></li>
        <li><%=link_to "Sign in", '#'%></li>
      </ul>
    </div>
  </div>
</header>
